# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

In [2]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

##### Assigning int

In [3]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [4]:
my_float = 123.456
print(my_float)
print(type(my_float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [5]:
print(2+3)
my_var1 = 2
my_var2 = 3
print(my_var1+my_var2)

5
5

##### Subtraction

In [8]:
num1 = 2 
num2 = 5.7

result_diff = num1 - num2
print(result_diff)
print(type(result_diff))

-3.7
<class 'float'>

##### Multiplication

In [12]:
result_prod = num1 + num2

In [11]:
result_prod*=2

##### Division

In [13]:
results_div= 4/2
print(results_div)
print(type(results_div))

2.0
<class 'float'>

##### Floor Division

In [14]:
result_floor = 5//2
print(result_floor)

2

##### Modulo

In [15]:
result_mod = 5%2
print(result_mod)

1

##### Exponential

In [18]:
square = 5 ** 2
print(square)
square**=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [19]:
name ='Armani'
name = "Armani"
print(name)

Armani

In [ ]:
word

##### print() <br>
<p>Don't forget about end=' '</p>

In [20]:
name = "Jalen"
print("hello", name , " the daws are goon")

hello Jalen  the daws are goon

##### String Concatenation

In [21]:
first = "Grady"
last = "Dickerson"
full_name = first + " " + last
print(full_name)
full_name+= " is a funny individual"
print(full_name)

Grady Dickerson
Grady Dickerson is a funny individual

##### Type Conversion

In [54]:
# int() str() list()

num1 = 3 
num2 = "4"

print(num1 + int(num2))

<class 'int'>
<class 'str'>

##### input()

In [23]:
age = int(input("what is your age?"))
print(age)

what is your age?02
2

##### format()

In [25]:
age = int(input("what is "))

what is 1

#### f-strings

In [29]:
age = int(input("What is Your age? " ))
x = "BLah blah blah "
result_string = f"You are {age} years old and you are getting wiser! {x}"
print(result_string)

What is Your age? 123
You are 123 years old and you are getting wiser! BLah blah blah

##### Old Way (python 2)

In [26]:
age = "35"

result_str = 'You are %s and you look great for your age' %age
print(result_str)

You are 35 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [31]:
year = int(input("What is the year of your vehicle? "))
make = (input("What is the make of your vehicle? "))
model = (input("What is the model of your vehicle? "))
color = (input("What is the color of your vehicle? "))
sentance = f'You drive a {color} {year} {make} {model}!'
print(sentance)

What is the year of your vehicle? 2015
What is the make of your vehicle? mercedes
What is the model of your vehicle? cla 250
What is the color of your vehicle? white
You drive a white 2015 mercedes  cla 250!

### If Statements

In [73]:
num1 = 2
num2 = 10

if num1 == num2:
    print("equal")
else:
    print("not equal")

Not Equal
num1 is less
nothing
something

In [34]:
num1 = 20
num2 = 2

if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is lesser")
else:
    print("equal")

num1 is greater

##### 'is' keyword

In [35]:
# only use this when asking is somthing is None
x = None

print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [36]:
# membership checks

char_name = "Max Payne"
if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [77]:
sega_char = "Sonic"
if "S" not in sega_char.upper():
    print("s is not in the name ... !!!")

a is NOT in here....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [2]:
x = input("What is your name?")

if "p" in x:
    print("ok")
else: 
    print("no")

What is your name?patricia
ok

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [3]:
# for [placeholder] in [iterable]

name = "Gareth"

for letter in name: 
    print(f"The next letter is {letter}")
    print("another line")

print("a third line")

The next letter is G
another line
The next letter is a
another line
The next letter is r
another line
The next letter is e
another line
The next letter is t
another line
The next letter is h
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [19]:
name = "Gareth Atkins"

for letter in name:
    if letter in name:
        print("THE LETTER IS R")
        break
    print(f"the next letter is {letter}")    
    print("another line")

THE LETTER IS R

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [3]:
name = "Gareth Atkins"

for letter in name:
    if letter in name:
        print("THE LETTER IS R")
        break
    print(f"the next letter is {letter}")    
    print("another line")

0
1
2
3
4

##### Pass Statement

In [4]:
name = "Gareth Atkins"

for letter in name :
    pass
print("rest of the program")

In [25]:
foods = ['pizza', 'tacos','dimsum', 'sushi']

for food in foods:
    print(food)

pizza
tacos
dimsum
sushi

In [23]:
len(foods)

4

In [28]:
list(range(4))

[0, 1, 2, 3]

In [29]:
for index in range(len(foods)):
    print(index)
    print(foods)

0
['pizza', 'tacos', 'dimsum', 'sushi']
1
['pizza', 'tacos', 'dimsum', 'sushi']
2
['pizza', 'tacos', 'dimsum', 'sushi']
3
['pizza', 'tacos', 'dimsum', 'sushi']

In [30]:
for index, food in enumerate(foods):
    print("at index", index, "is the food: ", food)

at index 0 is the food:  pizza
at index 1 is the food:  tacos
at index 2 is the food:  dimsum
at index 3 is the food:  sushi

##### Double For Loops

In [34]:
counter = 0

for i in range(5):
    for j in range(5):
        counter+=1
        print(f'i={i} j={j} total={counter}')
    print()

i=0 j=0 total=1
i=0 j=1 total=2
i=0 j=2 total=3
i=0 j=3 total=4
i=0 j=4 total=5

i=1 j=0 total=6
i=1 j=1 total=7
i=1 j=2 total=8
i=1 j=3 total=9
i=1 j=4 total=10

i=2 j=0 total=11
i=2 j=1 total=12
i=2 j=2 total=13
i=2 j=3 total=14
i=2 j=4 total=15

i=3 j=0 total=16
i=3 j=1 total=17
i=3 j=2 total=18
i=3 j=3 total=19
i=3 j=4 total=20

i=4 j=0 total=21
i=4 j=1 total=22
i=4 j=2 total=23
i=4 j=3 total=24
i=4 j=4 total=25

### While Loops

In [5]:
# while [boolean]:
    # do this codeblock

In [35]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

##### While & For Loops Used Together

### Built-In Functions

##### range()

In [36]:
list(range(0,4,1))

[0, 1, 2, 3]

##### len()

##### help()

##### isinstance()

In [37]:
num = 1
isinstance(num , str)

False

##### abs()

In [38]:
# distance a number is from 0 

print(abs(-5))

5

### Try and Except

### Lists

##### Declaring Lists

In [6]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
print(names)

['Vanessa', 'Patrick', 'Moises', 'Armani']

##### Indexing a List

In [9]:
print(names[1])

a_list = [1,2,3,["a", "b", "c"], 4]

inner_list = a_list[3]
print(inner_list[1])

Patrick
b

In [12]:
names = ["Vanessa", "Patrick", "Moises", "Armani"]
print(names[::2])

names[4:0:-1]
my_string = "racecar"
if my_string == my_string [::-1]:
    print("Its palindrome")

['Vanessa', 'Moises']
Its palindrome

##### .append()

In [13]:
names = ["vanessa", "Patrick", "Moises", "Armani" ]
names.append("Ramika")
print(names)

['vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### .insert()

In [14]:
names.insert(2, "sabrina")
print(names)

['vanessa', 'Patrick', 'sabrina', 'Moises', 'Armani', 'Ramika']

##### .pop()


##### .remove()

In [15]:
names.remove("sabrina")
names

['vanessa', 'Patrick', 'Moises', 'Armani', 'Ramika']

##### del()

In [16]:
del(names[1])
names

['vanessa', 'Moises', 'Armani', 'Ramika']

In [ ]:
# Do not use del in a for loop

##### Concatenating Two Lists

In [18]:

l1= [1,2,3]
l2 = [4,5,6]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [5]:
x = 1
y=1000
for num in range(1, y+1): 
    while x**3 <= num:
        print(num)
        x+=1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [4]:
x = 1
y= 100
for num in range(x, y+1):
    if(num>1):
        for number in range(2,num):
            if num % number == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [1]:
age = (int(input('What is your age?')))

if age < 18:
    print('kids')
elif age >= 18 and age <= 65:
    print('adult')
else:
    print('senior')

What is your age?19
adult